body[b-zdnfl2gqr2] {
    background-color: transparent;
}

#nva[b-zdnfl2gqr2] {
    background-color: transparent;
}
.container[b-zdnfl2gqr2] {
    background-color: transparent;
}
.navbar[b-zdnfl2gqr2] {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
    background-color: transparent;
    
}
.navbar h1[b-zdnfl2gqr2] {
    font-size: 18px;
    font-weight: bold;
    color: black;
   
}

.sections[b-zdnfl2gqr2] {
    display:  flex;
    gap: 10px;
    margin-left: -200px;
    background-color: transparent;
}

.navbar div a[b-zdnfl2gqr2] {
    color: black;
    text-decoration: none;
}

.sections a:hover[b-zdnfl2gqr2]{
    text-decoration: underline;
    font-weight: bold;
}




