@{
    ViewData["Title"] = "Home";
}

<div class="body" style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequatur, dolorem, perspiciatis obcaecati nisi culpa, architecto animi unde sint earum ad fuga repellendus atque aliquid sapiente asperiores molestias! Accusantium, quis.</p>
    <img src="~/ekwatisologo.png"/>
</div>