@{
    ViewData["Title"] = "Home";
}

<h1>English's Family</h1>
<h3>Membros:</h3>
<ul>
    <li>
        João Inglês
    </li>
    <li>
        Domingas Inglês
    </li>
    <li>
        Jessé Inglês
    </li>
    <li>
        Joel Inglês
    </li>
    <li>
        Jair Inglês
    </li>
</ul>