/* _content/webapp/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-j4i5us2apt] {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.navbar img[b-j4i5us2apt] {
    height: 100px;
}
